.todo-list {
  list-style-type: none;
}

.todo-list__todo {
  margin-bottom: 10px;
  border: 1px solid #016311;
}

.todo-list__task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todo-list__task-check {
  margin-right: 10px;
}

.todo-list__task-text {
  font-size: 16px;
}

.todo-list_button {
  display: flex;
  justify-content: flex-end;
}

.green {
  color: green;
}

.red {
  color: red;
}