<!-- <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/journal/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/vapor/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cyborg/bootstrap.min.css" rel="stylesheet"> -->
<link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/darkly/bootstrap.min.css" rel="stylesheet">

<h1><a routerLink="/todos" style="text-decoration:none; margin: 5px;">Todos</a>
    <button class="btn btn-success border border-info" style="margin-left: 10px; margin-top: 0px;"
        routerLink="/todos/create">Neu</button>
</h1>
<hr />
<div style="margin: 10px">
    <router-outlet></router-outlet>
</div>